@import "../helpers/variables";

.AdminToursWrapper {
    margin: 5% 20%;
    border: 10px double $darkblue;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 2.5%;
    
    .AdminToursHeaderTitle {
        padding: 2.5% 0% 5% 0%;
    }

    .AdminNewTourLink {
        border: 3px solid $darkblue;
        border-radius: 15px;
        padding: 1% 2.5%;
        text-decoration: none;
        color: black;
    }

    .AdminNewTourLink:hover {
        background-color: $darkblue;
        color: white;
    }

    .AdminToursContainer {
        padding: 2%;
        border-radius: 15px;
        border: 10px double $darkblue;
        width: 75%;
        margin: 5% auto;
        
        .AdminToursTitle, .AdminToursDelete, .AdminToursEdit  {
            margin: 2% 0%;
        }
            
         .AdminToursDelete, .AdminToursEdit {
            margin: 0% 1%;
            font-size: 1.8em;
            cursor: pointer;
        }
        
        .AdminToursDelete {
            color: red;
        }
        
        .AdminToursEdit {
            color: green;
        }

    }

}

@media only screen and (max-width: 1050px) {

    .AdminToursWrapper {
        margin: 5% 10%;

        .AdminToursContainer {
            width: 75%;
            
            .AdminToursTitle, .AdminToursDelete, .AdminToursEdit  {
                margin: 5% 0%;
            }
                
             .AdminToursDelete, .AdminToursEdit {
                margin: 0% 2%;
            }
    
        }

    }

}

@media only screen and (max-width: 750px) {

    .AdminToursWrapper {
        margin: 5% 5%;

        .AdminNewTourLink {
            padding: 2% 5%;
        }

        .AdminToursContainer {
            width: 90%;
            margin: 7.5% auto;
            
            .AdminToursTitle, .AdminToursDelete, .AdminToursEdit  {
                margin: 5% 0%;
            }
                
             .AdminToursDelete, .AdminToursEdit {
                margin: 0% 5%;
            }
    
        }

    }

}