@import "../helpers/variables";

.AdminToursCreateWrapper {
    margin: 5% 20%;
    border: 10px double $darkblue;
    border-radius: 15px;
    text-align: center;
    
    h1 {
        padding: 2.5% 0%;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        label, input, textarea {
            width: 75%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        input, textarea {
            margin-top: 2%;
            border-radius: 5px;
            border: 10px double $darkblue;
        }
        
        label {
            font-weight: 600;

            input[type="file"] {
                cursor: pointer;
            }

        }
        
        textarea {
            min-height: 150px;
            resize: vertical;
        }
        
       .ckeWrapper {
            width: 55%;
            border: 10px double $darkblue;
            padding: 1.5%;
            border-radius: 5px;
        }

        img {
            display: flex;
            margin: 5px auto;
            border-radius: 25px;
            width: 40%;
            border: 10px double $darkblue;
            padding: 15px;
        }
        
        .AdminToursCreateButton {
            background-color: white;
            padding: 1% 2.5%;
            font-size: 1rem;
            font-weight: 600;
            border: 2px solid $darkblue;
            cursor: pointer;
            border-radius: 5px;
            margin-bottom: 4%;
        }
        
        .AdminToursCreateButton:hover {
            background-color: $darkblue;
            color: white;
        }

    }
    
    .AdminToursCreateMessage {
        padding-bottom: 2.5%;
        width: 75%;
        margin: 0% auto 2.5% auto;
        color: rgb(85, 227, 85);
    }

}

@media only screen and (max-width: 1050px) {

    .AdminToursCreateWrapper {
        margin: 5% 10%;

        form {
            
            label, input, textarea {
                width: 80%;
            }

        }

    }

}

@media only screen and (max-width: 750px) {

    .AdminToursCreateWrapper {
        margin: 5% 5%;

        form {
            
            label, input, textarea {
                width: 90%;
            }

            .ckeWrapper {
                width: 90%;
            }

            img {
                width: 60%;
            }

        }

    }

}