@import "../helpers/variables";

.adminNavbar {
    background-color: $darkblue;
    padding: 0% 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        li {
            transition: padding 1s ease;
            
            .active {
                border-top: 3.5px solid $turquoise;
                background-color: rgba(255, 255, 255, 0.103);
                height: 100%;
            }
            
            :hover { // Der sættes ikke &:hover, da der så desuden også ville blive tilføljet 5px solid $turquoise til ydereligere til det punkt, man allerede befinder sig på, hvis man hover netop dette
                border-top: 3.5px solid $turquoise;
                background-color: rgba(255, 255, 255, 0.103);
                height: 100%;
            }
            
            a {
                border-top: 3.5px solid $darkblue; // For at dække sådan der ikke kommer et hop hver gang man hopper, og at når man står på et menupunkt, så er dens tekst ikke "længere nede" eller "længere fremme" i forhold til de resterende menupunkter
                display: block;
                color: white;
                text-decoration: none;
                padding: 1.25rem 1.25rem 1.5rem 1.25rem;
            }

        }

    }

}

@media only screen and (max-width: 750px) {

    .adminNavbar {
        padding: 0% 0%;

        ul {
            width: 100%;
            flex-direction: column;

            li {

                a {
                    padding: 1.1rem 1.25rem 1.1rem 1.25rem;
                }

            }

        }

    }

}