@import "../helpers/variables";

#AdminToursEditWrapper {
    margin: 5% 20%;
    border: 10px double $darkblue;
    border-radius: 15px;
    
    h1 {
        padding: 2.5% 0% 5% 0%;
        text-align: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        label, input, textarea {
            width: 75%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        input, textarea {
            margin-top: 2%;
            border-radius: 5px;
            border: 10px double $darkblue;
            text-align: center;
        }
        
        label {
            font-weight: 600;
            width: 100%;

            input {
                text-align: center;
            }

            input[type="date"] {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            input[type="file"] {
                cursor: pointer;
            }

        }
        
        textarea {
            min-height: 150px;
            resize: vertical;
        }
        
       #ckeWrapper {
            width: 55%;
            border: 10px double $darkblue;
            padding: 1.5%;
            border-radius: 5px;

            label {
                display: none;
            }

        }

        img {
            display: flex;
            margin: 5px auto;
            border-radius: 25px;
            width: 40%;
            border: 10px double $darkblue;
            padding: 15px;
        }
        
        #AdminToursEditButton {
            background-color: white;
            padding: 1% 2.5%;
            font-size: 1rem;
            font-weight: 600;
            border: 2px solid $darkblue;
            cursor: pointer;
            border-radius: 5px;
            margin-bottom: 4%;
        }
        
        #AdminToursEditButton:hover {
            background-color: $darkblue;
            color: white;
        }

    }
    
    #AdminToursEditMessage {
        width: 75%;
        margin: 2.5% auto;
        padding-bottom: 5%;
        color: rgb(85, 227, 85);
    }

}

@media only screen and (max-width: 992px) {

    #AdminToursEditWrapper {
        margin: 5% 10%;

        form {
            
            label, input, textarea {
                width: 80%;
            }

        }

    }

}

@media only screen and (max-width: 600px) {

    #AdminToursEditWrapper {
        margin: 5% 5%;

        form {
            
            label, input, textarea {
                width: 90%;
            }

        }

    }

}