@import "../helpers/variables";

footer {
    
    .footerKontaktLinks {
        padding: 3.5% 10%;
        display: flex;
        justify-content: space-between;
        background-color: $darkblue;;
        color: white;
        
        .footerKontakt {
            display: flex;
            padding: 7.5% 0;
            gap: 20px;
            font-size: 1rem;
            
            .footerKontaktIcon {
                color: $turquoise;
            }
            
        }
        
        h4 {
            padding-bottom: 7.5%;
        }

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 15px 125px;
            
            li {
  
                color: $turquoise;
                
                a {
                    text-decoration: none;
                    color: white;
                }

            }

        }

        button {
            background-color: $turquoise;
            border: none;
            padding: 20px 35px;
            margin-top: 10%;
           
            .buttonTekst {
                color: white;
                text-decoration: none;
            }

        }

    }

    .footerCopyIcons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: $darkestblue;
        color: $darkgrey;
        padding: 2% 10%;;

        p, .footerSocialIcons {
            grid-row: 1/-1;
        }

        p {
            grid-column: 1/2;
        }

        .footerSocialIcons {
            grid-column: 2/3;
            justify-self: center;
            display: flex;
            gap: 20px;

            a {
                
                .icon {
                    color: $darkgrey;
                    font-size: 17.5px;
                }

            }
            
            
        }

    }

}