header {
    .navbarBrand {
        figure {
            padding: 0.5% 10%;
            width: 100%;
            img {
                height: 25px;
            }
        }
    }
}

@media (max-width: 1050px) {

    header {
        .navbarBrand {
            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2% 0% 2% 5%;
            }
        }
    }
    
}