@import "../helpers/variables";

.aboutWrapper {
    margin: 5% 10% 2.5% 10%;
    
    .aboutContent {
        display: flex;
        
        figure {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
            }
            
        }
        
        .aboutTekst {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding: 2.5% 5%;
            
            h5, button {
                padding: 6% 0;
            }

            h3 {
                font-size: 2.25rem;
            }

            h5 {
                font-size: 1.5rem;
                text-transform: uppercase;
                color: $turquoise;
                text-decoration-color: red;
                font-weight: 300;
            }

            p {
                font-size: 1.1rem;
                line-height: 1.75rem;
                padding-bottom: 6%;
            }

            button {
                background-color: $turquoise;
                border: none;
                width: 40%;
                padding: 25px 0;
               
                .buttonTekst {
                    font-size: 1rem;
                    color: white;
                    text-decoration: none;

                }
    
            }

        }

    }

}

@media (max-width: 1050px) {

    .aboutWrapper {
        text-align: center;

        .aboutContent {
            flex-direction: column-reverse;
            align-items: center;

            figure {
                width: 65%;
            }
            
            .aboutTekst {
                width: 75%;
                display: grid;
                
                button {
                    margin-bottom: 2.5%;
                    justify-self: center;

                }
    
            }
    
        }
    
    }

}

@media (max-width: 750px) {

    .aboutWrapper {
        margin: 6% 10% 10% 10%;
        
        .aboutContent {
            
            figure {
                width: 100%;
            }
            
            .aboutTekst {
                width: 110%;
            }
    
        }
    
    }

}