@import "../helpers/variables";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: $darkblue;
    padding: 0 10%;
    position: sticky;
    top: 0;
    z-index: 999;

    // BURGER-TOGGLE-BUTTON
    .toggleButton {
        display: none; // vises med flex i media!
        position: absolute;
        top: 0.5rem;
        right: 10%;
        flex-direction: column;
        justify-content: space-between;
        width: 29.5px;
        height: 24px;
        cursor: pointer;

        .bar {
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 10px;

            transition: all 1s ease;
            transform-origin: left;
        }

        // Danner X med bars/burgeren med klik (da der igennem vores onClick kommer active på)
        &.change .bar1 {
            transform: rotate(45deg);
        }

        &.change .bar2 {
            opacity: 0;
        }

        &.change .bar3 {
            transform: rotate(-45deg);
        }

    }

    // MENUEN
    .navbarLinks {
        display: flex;
        align-items: center;
        
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;
            
            li {
                transition: padding 1s ease;
                
                .active {
                    border-top: 3.5px solid $turquoise;
                    background-color: rgba(255, 255, 255, 0.103);
                }
                
                :hover { // Der sættes ikke &:hover, da der så desuden også ville blive tilføljet 5px solid $turquoise til ydereligere til det punkt, man allerede befinder sig på, hvis man hover netop dette
                    border-top: 3.5px solid $turquoise;
                    background-color: rgba(255, 255, 255, 0.103);
                }
                
                a {
                    border-top: 3.5px solid $darkblue; // For at dække sådan der ikke kommer et hop hver gang man hopper, og at når man står på et menupunkt, så er dens tekst ikke "længere nede" eller "længere fremme" i forhold til de resterende menupunkter
                    display: block;
                    color: white;
                    text-decoration: none;
                    padding: 1.25rem 1.25rem 1.5rem 1.25rem;
                }
    
            }
    
        }
  
    }
    
    .icon {
        align-items: center;
        color: white;
        font-size: 20px;
        margin-left: 15px;

        &:hover {
            color: $turquoise;
        }

    }

}

@media (max-width: 1050px) {

    .navbar {
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5% 10%;
        
        // Vis burger
        .toggleButton {
            display: flex;
            margin-top: 1%;
        }
        
        // Menuen (div'en udenom ul)
        .navbarLinks {
            height: 0;
            width: 100%;
            overflow: hidden;
            transition: height 1s ease;
            margin-top: 10px;

            &.active {
                height: 50vh;
            }
            
            ul {
                width: 100%;
                flex-direction: column;
                
                li {
                    text-align: center;

                    .active {
                        border-top: 0px;
                        background-color: transparent;
                    }

                    :hover { // Der sættes ikke &:hover, da der så desuden også ville blive tilføljet 5px solid $turquoise til ydereligere til det punkt, man allerede befinder sig på, hvis man hover netop dette
                        border-top: none;
                        background-color: transparent;
                    }
                    
                    &:hover {
                        padding-left: 1.3rem;
                    }
                    
                    a { 
                        padding: 0.5rem 1rem;
                        font-size: 1.25rem;
                    }
                    
                }
                
            }
            
        }
        
    }

    .icon {
        position: relative;
        bottom: 0.25rem;
        right: 1rem;

        &:hover {
            color: white;
        }
    }
    
}