@import "../helpers/variables";

.individuelTurWrapper {
    margin: 6.5% auto;
    width: 80%;
    display: flex;

    .individuelTurImgWrapper {
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        
        figure {
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
            }

        }

    }

    .individuelTurTekstWrapper {
        padding-left: 6%;
        height: 100%;
        width: 45%;
        position: relative;

        .individuelTurTekstContainer {
            padding-bottom: 2.5%;

            h2 {
                font-size: 2.5rem;
            }

            .individuelTurPris {
                display: flex;
                align-items:center;
                justify-content: center;
                position: absolute;
                top: 0;
                right: 0;
                background: linear-gradient(45deg, transparent 15px, $turquoise 0px);
                color: white;
                height: 65px;
                width: 100px;
                font-size: 1.2rem;
            }

            .individuelTurHrTurquoiseShort {
                height: 4px;
                width: 17.5%;
                border: none;
                margin-top: 3.5%;
                background-color: $turquoise;
            }

            .individuelTurTekstContent {
                padding-top: 5%;
                display: flex;
                flex-direction: column;
                font-size: 1.1rem;
                gap: 35px;
                color: darkgrey;

                h3 {
                    font-weight: 400;
                }

            }
            
        }
        
        .individuelTurInfoContainer {
            
            .individuelTurInfoContent {
                display: flex;
                gap: 7.5px;
                padding: 2% 0%;
 
                    h6, p {
                        font-size: 1.2rem;
                    }
        
                    h6 {
                        color: black;
                    }
        
                    p {
                        color: darkgrey;
                    }
        
            }
        
        }

        .individuelTurShareContainer {
            display: flex;
            gap: 20px;
            font-size: 1.8rem;
            padding-top: 2.5%;

            h5 {
                letter-spacing: 1.5px;
                font-weight: 400;
            }
            
            .shareIcon {
                color: black;
                
                &:hover {
                    color: $turquoise;
                }

            }

        }

        .individuelTurHrLongGrey {
            height: 1.5px;
            width: 100%;
            border: none;
            background-color: lightgrey;
            margin: 2.5% 0%
        }

    }
    
}

@media (max-width: 1050px) {

    .individuelTurWrapper {
        margin: 6.5% auto 10% auto;
        width: 100%;
        flex-direction: column-reverse;
    
        .individuelTurImgWrapper {
            width: 80%;
            margin: 6.5% auto 0% auto;
        }
    
        .individuelTurTekstWrapper {
            padding-left: 0%;
            width: 80%;
            margin: 0 auto;
    
            .individuelTurShareContainer {
                display: flex;
                justify-content: center;
                gap: 25px;
                padding-top: 6%;
    
    
            }

            .individuelTurHrLongGrey {
                height: 2px;
            }
    
        }

    }

}